body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    background-color: black;
}

h1 {
    color: white;
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: center;
}

form {
    padding-left: 50px;
    padding-right: 50px;
    border: 1.5px solid #2D98BF;
    color: white;
}

form .form-group {
    padding-top: 10px;
    padding-bottom: 15px;
}

.col-md-12 {
    padding-left: 100px;
    padding-right: 100px;
}

input {
    padding: 14px 16px;
    width: 100%;
    color: black;
}

input[type="text"], input[type="password"]
{
    font-size:18px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="button"] {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 5%;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 10px;
    color: black;
    background-color: white;
    margin: auto;
    display: block;
}

button:hover {
    background-color: black;
    color: white;
}

.userpass {
    padding-top: 20px;
    padding-bottom: 20px;
}